body {
    padding: 0px;
    margin: 0px;
    min-width: 880px;
}

a {
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
}

.nev a:hover {
    color: rgb(224 200 90);
}

button {
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: small;
    color: black;
}

input::placeholder {
    color: black;
}
/*y用户和管理员登录*/

.login a:hover {
    text-decoration: underline;
}

.login button:hover {
    background-color: rgb(50,50,50);
    color: rgb(255,255,255)
}

input::placeholder {
    color: rgba(50,50,50,0.4);
}

p {
    font-family: Arial,Helvetica,sans-serif;
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 0 15px rgba(255,255,255,0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}
/*注册页面*/
.Rebutton:hover {
    background-color: rgb(61,61,61);
    color: rgb(255,255,255);
    border-color: rgb(61,61,61);
}
.codeBut:hover {
    background-color: rgb(162,162,162)
}
/*管理员页面 不知道用不用得到先留着
section {
    height: 400px;
    padding: 20px;
}
Admnav {
    border-bottom: thick solid rgb(195 195 195);
}
Admnav li {
            display: inline;
            width: 24%;
            text-decoration: none;
            padding: 15px;
        }*/